* {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: center;
  line-height: 65px;
  width: 100%;
}

nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
nav h4 {
  font-size: 30px;
}
nav ul {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: black;
}
nav ul li:hover a {
  text-decoration: underline;
}

.dark {
  width: 100%;
  line-height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
}
.dark p {
  margin: 0 25px;
  font-size: 18px;
}

span {
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
}

.bg1 {
  background-color: rgb(82, 28, 28);
  width: 100%;
  height: 687px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
  .bg1 {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 991px) {
  .bg1 {
    display: flex;
    flex-direction: column-reverse;
  }
}
.bg1 .pic {
  width: 40%;
}
.bg1 .pic img {
  width: 100%;
}
.bg1 .right {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  row-gap: 40px;
}
.bg1 .right h3 {
  font-size: 50px;
  font-weight: 100;
}
.bg1 .right p {
  font-size: 20px;
}
.bg1 .right .shop {
  width: 130px;
  height: 50px;
  background-color: #fff;
  border: transparent;
  transition: all linear 0.2s;
}
.bg1 .right .shop:hover {
  opacity: 0.75;
  cursor: pointer;
}

.container {
  display: flex;
  width: 100%;
  margin-top: 80px;
  height: 485px;
}
@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 991px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.container .text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 30%;
  justify-content: center;
  padding-left: 80px;
}
.container .text h2 {
  font-size: 50px;
  font-weight: 100;
}
.container .text p {
  font-size: 22px;
}
.container .text .shop {
  width: 130px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: transparent;
  transition: all linear 0.2s;
}
.container .text .shop:hover {
  opacity: 0.75;
  cursor: pointer;
}
.container .pics {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .container .pics {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
  }
}
@media screen and (max-width: 991px) {
  .container .pics {
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
  }
}
.container .pics img {
  width: 33%;
}

.bg2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 50px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  background-position: center;
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/augustinelitek7jiv/img-YDz318GZ0WuvBwLg.jpg);
}
.bg2 h3 {
  font-size: 55px;
  font-weight: 100;
}

.cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 99px;
  height: 680px;
}
.cards .shop {
  width: 130px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: transparent;
  transition: all linear 0.2s;
}
.cards .shop:hover {
  opacity: 0.75;
  cursor: pointer;
}
.cards .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.cards .left img {
  width: 100%;
}
.cards .left h5 {
  font-size: 35px;
  font-weight: 100;
}
.cards .left p {
  font-size: 18px;
}
.cards .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.cards .right img {
  width: 100%;
}
.cards .right h5 {
  font-size: 35px;
  font-weight: 100;
}
.cards .right p {
  font-size: 18px;
}

.bg3 {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/augustinelitek7jiv/img-m57zVv6WWeTX3eep.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg3 .text {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 75%;
}
.bg3 .text h2 {
  font-size: 35px;
  font-weight: 100;
}
.bg3 .text h1 {
  font-size: 55px;
  font-weight: bold;
  width: 62%;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.bg3 .text input {
  height: 50px;
  width: 45%;
  margin-bottom: 20px;
}
.bg3 .text .join {
  width: 90px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: transparent;
  transition: all linear 0.2s;
}
.bg3 .text .join:hover {
  background-color: rgb(75, 75, 75);
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  align-items: center;
}
footer .left {
  width: 40%;
}
footer .left ul {
  margin: 0px 60px;
}
footer .left ul li {
  font-size: 25px;
  text-decoration: underline;
  margin: 30px 70px;
}
footer .left ul li a {
  color: #000;
}
footer .right {
  width: 40%;
}
footer .right li {
  margin: 40px 70px;
}
footer .right li h2 {
  font-size: 45px;
  font-weight: 100;
}
footer .right li a {
  font-size: 20px;
  color: #000;
  text-decoration: underline;
}
footer .right li i {
  color: #000;
  margin: 0 10px;
}/*# sourceMappingURL=stil.css.map */