* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif Toto", serif;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

.header {
  width: 100%;
  background-color: #fff;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .header {
    display: none;
  }
}
.header p {
  margin: 0 50px;
}
.header .start {
  margin-left: 20px;
  font-weight: 700;
  font-size: 11px;
  color: #fff;
  background-color: blue;
  height: 39px;
  width: 160px;
  border-radius: 37px;
  border: 1px solid;
  cursor: pointer;
}

.oakland {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  line-height: 100px;
  position: fixed;
  z-index: 1000;
}
.oakland i {
  display: none;
}
@media screen and (max-width: 767px) {
  .oakland i {
    margin: auto 20px;
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .oakland i {
    margin: auto 20px;
    display: block;
  }
}
.oakland h4 {
  font-size: 25px;
  margin: auto 10%;
}
.oakland ul {
  display: flex;
  flex-direction: row;
  margin-right: 11%;
}
@media screen and (max-width: 767px) {
  .oakland ul {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .oakland ul {
    display: none;
  }
}
.oakland ul li {
  margin: 0 20px;
}
.oakland ul li .home {
  text-decoration: underline;
}
.oakland ul a:hover {
  text-decoration: underline;
}

.bg {
  background-image: url(/oakland/img/alex-suprun-N60_1zpWNtU-unsplash.webp);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.bg .text {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.bg .text h1 {
  color: red;
  margin: 20px 0;
  width: 55%;
  text-align: center;
  font-size: 60px;
}
@media screen and (max-width: 767px) {
  .bg .text h1 {
    font-size: 40px;
    width: 65%;
  }
}
@media screen and (max-width: 991px) {
  .bg .text h1 {
    font-size: 55px;
  }
}
.bg .text button {
  text-align: center;
  display: block;
  margin-top: 25px;
  width: 155px;
  height: 60px;
  background-color: #000;
  color: #fff;
  border: 1px solid black;
  transition: all linear 0.2s;
  font-size: 15.5px;
}
.bg .text .contact:hover {
  opacity: 0.75;
  cursor: pointer;
}
.bg .transparent {
  background-color: transparent;
  height: 700px;
  width: 100%;
}

.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
  row-gap: 30px;
}
.aboutus h3 {
  font-size: 50px;
  color: red;
}
@media screen and (max-width: 767px) {
  .aboutus h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 991px) {
  .aboutus h3 {
    font-size: 45px;
  }
}
.aboutus p {
  width: 45%;
  text-align: center;
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  .aboutus p {
    font-size: 20px;
    width: 70%;
  }
}
@media screen and (max-width: 991px) {
  .aboutus p {
    width: 40%;
    font-size: 19px;
  }
}
.aboutus img {
  width: 65%;
  height: 550px;
  margin-bottom: 110px;
}
@media screen and (max-width: 991px) {
  .aboutus img {
    width: 40%;
    margin-bottom: 20px;
  }
}

.redlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  color: #fff;
  text-align: center;
  height: 1000px;
}
@media screen and (max-width: 767px) {
  .redlist {
    height: 700px;
  }
}
@media screen and (max-width: 991px) {
  .redlist {
    height: 700px;
  }
}
.redlist li {
  margin: 40px 0;
  font-size: 55px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .redlist li {
    font-size: 40px;
  }
}
@media screen and (max-width: 991px) {
  .redlist li {
    font-size: 45px;
  }
}

.bg2 {
  background-image: url(/oakland/img/alex-suprun-AHnhdjyTNGM-unsplash.webp);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.bg2 .transparent {
  width: 100%;
  background-color: transparent;
  height: 1000px;
  width: 100%;
}
.bg2 .text {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  row-gap: 60px;
}
@media screen and (max-width: 767px) {
  .bg2 .text {
    height: 320px;
    row-gap: 30px;
  }
}
.bg2 .text h3 {
  font-size: 50px;
  color: red;
}
@media screen and (max-width: 767px) {
  .bg2 .text h3 {
    font-size: 35px;
  }
}
@media screen and (max-width: 991px) {
  .bg2 .text h3 {
    font-size: 40px;
  }
}
.bg2 .text p {
  width: 53%;
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .bg2 .text p {
    width: 45%;
  }
}
@media screen and (max-width: 991px) {
  .bg2 .text p {
    width: 52%;
    font-size: 23px;
  }
}
.bg2 .pics {
  display: flex;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .bg2 .pics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 991px) {
  .bg2 .pics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bg2 .pics img {
  width: 25%;
  height: 450px;
}
@media screen and (max-width: 767px) {
  .bg2 .pics img {
    width: 50%;
    height: 400px;
  }
}
@media screen and (max-width: 991px) {
  .bg2 .pics img {
    width: 50%;
    height: 400px;
  }
}
.bg2 .allprjcts {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.bg2 .allprjcts button {
  text-align: center;
  display: block;
  margin-top: 25px;
  width: 200px;
  height: 60px;
  background-color: #000;
  color: #fff;
  border: 1px solid black;
  transition: all linear 0.2s;
  font-size: 15.5px;
  margin-top: 60px;
  margin-bottom: 90px;
}
.bg2 .allprjcts .all:hover {
  opacity: 0.75;
  cursor: pointer;
}

.redfooter {
  background-color: rgba(255, 0, 0, 0.86);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .redfooter {
    height: 300px;
  }
}
@media screen and (max-width: 991px) {
  .redfooter {
    height: 300px;
  }
}
.redfooter div {
  display: flex;
  flex-direction: column;
  width: 70%;
  row-gap: 40px;
}
@media screen and (max-width: 767px) {
  .redfooter div {
    width: 45%;
  }
}
@media screen and (max-width: 991px) {
  .redfooter div {
    width: 36%;
    row-gap: 20px;
  }
}
.redfooter h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 60px;
}
@media screen and (max-width: 767px) {
  .redfooter h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 991px) {
  .redfooter h3 {
    font-size: 30px;
  }
}
.redfooter p {
  color: #fff;
}

.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  height: 515px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  place-content: center;
}
@media screen and (max-width: 767px) {
  .footer {
    height: 300px;
  }
}
@media screen and (max-width: 991px) {
  .footer {
    height: 300px;
  }
}
.footer h3 {
  padding-top: 80px;
  font-size: 50px;
}
@media screen and (max-width: 991px) {
  .footer h3 {
    padding-bottom: 20px;
    font-size: 35px;
  }
}
.footer .contact {
  display: block;
  width: 160px;
  height: 60px;
  background-color: red;
  color: rgb(255, 255, 255);
  transition: all 0.2s linear 0s;
  font-size: 15.5px;
  margin: 50px 0px;
  font-weight: 900;
  row-gap: 20px;
}
@media screen and (max-width: 991px) {
  .footer .contact {
    margin: 0;
  }
}
.footer .contact:hover {
  background-color: rgb(249, 71, 71);
  cursor: pointer;
}
.footer ul {
  display: flex;
  flex-direction: row;
}
.footer ul li {
  margin: 60px 55px;
}
@media screen and (max-width: 991px) {
  .footer ul li {
    margin: 15px;
  }
}
.footer ul li i {
  color: #fff;
}/*# sourceMappingURL=oakland.css.map */