* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: center;
  line-height: 65px;
  width: 100%;
}
.top nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.top nav h4 {
  font-size: 30px;
}
.top nav h4 a {
  color: #000;
}
.top nav ul {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.top nav ul li {
  list-style: none;
}
.top nav ul li a {
  color: black;
}
.top nav ul .home {
  text-decoration: underline;
}
.top nav ul li:hover a {
  text-decoration: underline;
}

.bg {
  background-image: url(/anir/img/photo-1603561128962-ad67a151eccd\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: inherit;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.bg div {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 85%;
  justify-content: center;
  row-gap: 30px;
}
.bg div h2 {
  width: 34%;
  font-size: 50px;
  font-weight: 100;
}
.bg div h5 {
  font-size: 25px;
}
.bg div .click {
  width: 230px;
  height: 50px;
  background-color: rgb(235, 182, 92);
  color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.2s;
}
.bg div .click:hover {
  opacity: 0.75;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .cards {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
main .cards .left {
  width: 26%;
}
main .cards .left img {
  width: 100%;
}
main .cards .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 30%;
  width: 50%;
}
main .cards .right h4 {
  font-size: 40px;
  font-weight: 100;
}
main .cards .aubutton {
  width: 170px;
  height: 50px;
  background-color: rgb(235, 182, 92);
  color: #fff;
  border: 0;
  font-size: 19px;
  cursor: pointer;
  transition: all linear 0.2s;
}
main .cards .aubutton:hover {
  opacity: 0.75;
}
main .cards img {
  width: 65%;
}

.text {
  padding-top: 87px;
  text-align: center;
}
.text h3 {
  font-size: 40px;
  font-weight: 100;
}
.text p {
  font-size: 18px;
  width: 47%;
  margin: 20px auto;
  opacity: 0.7;
}

.pics {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.pics .images {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.pics .images img {
  width: 30%;
}
.pics .images .imgpad {
  padding-top: 40px;
}
.pics .images .botpad {
  padding-bottom: 0;
}
.pics .button {
  display: inline-block;
}
.pics .button .view {
  width: 230px;
  height: 50px;
  background-color: rgb(235, 182, 92);
  color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.2s;
  margin-top: 30px;
  margin-bottom: 60px;
}
.pics .button .view:hover {
  opacity: 0.75;
}

.bg2 {
  background-image: url(/anir/img/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  color: #fff;
  display: flex;
  align-items: center;
}
.bg2 .left {
  margin: 0 50px;
  width: 50%;
}
.bg2 .left ul li {
  padding: 30px 0;
}
.bg2 .right {
  width: 50%;
}
.bg2 .right ul {
  width: 65%;
}
.bg2 .right ul li {
  padding: 30px 0;
}

.textbottom {
  width: 90%;
  margin: 50px auto;
}
.textbottom h4 {
  font-size: 40px;
  font-weight: 100;
}
.textbottom p {
  text-align: left;
  margin-top: 20px;
  opacity: 0.7;
}

.map {
  width: 100%;
}
.map .container {
  width: 90%;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 0 auto;
}
.map .container .img {
  width: 50%;
}
.map .container .img img {
  width: 100%;
  height: 400px;
}
.map .container .map {
  width: 50%;
}

.foot {
  width: 100%;
  display: flex;
  justify-content: center;
}
.foot__left {
  width: 40%;
}
.foot__left h1 {
  padding: 50px 0;
  font-weight: 100;
}
.foot__left ul {
  padding: 35px 0;
  opacity: 0.8;
}
.foot__left .icons {
  display: flex;
}
.foot__left .icons li {
  margin: 0 10px;
}
.foot__left .icons li i {
  color: #000;
  font-size: 20px;
}
.foot__inputs {
  width: 40%;
  margin: auto 0;
  align-items: center;
  color: rgb(235, 182, 92);
}
.foot__inputs input {
  width: 90%;
  height: 50px;
  margin-bottom: 25px;
  color: rgb(235, 182, 92);
  background-color: #e6e3e3;
  border: 0;
  outline: none;
  padding-left: 15px;
}
.foot__inputs textarea {
  margin-bottom: 25px;
  background-color: #e6e3e3;
  border: 0;
  outline: none;
  padding-left: 14px;
}
.foot__inputs .submit {
  width: 150px;
  height: 50px;
  background-color: rgb(235, 182, 92);
  color: #fff;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  transition: all linear 0.2s;
}
.foot__inputs .submit:hover {
  background-color: #e6e3e3;
}/*# sourceMappingURL=anir.css.map */