* {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: center;
  line-height: 65px;
  width: 100%;
}
.top nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.top nav h4 {
  font-size: 30px;
}
.top nav ul {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.top nav ul li {
  list-style: none;
}
.top nav ul li a {
  color: black;
}
.top nav ul .home {
  text-decoration: underline;
}
.top nav ul li:hover a {
  text-decoration: underline;
}

.bg {
  background-image: url(/anir/img/photo-1603561128962-ad67a151eccd\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: inherit;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.bg div {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 85%;
  justify-content: center;
  row-gap: 30px;
}
.bg div h2 {
  width: 34%;
  font-size: 50px;
  font-weight: 100;
}
.bg div h5 {
  font-size: 25px;
}
.bg div .click {
  width: 230px;
  height: 50px;
  background-color: rgb(235, 182, 92);
  color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.2s;
}
.bg div .click:hover {
  opacity: 0.75;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .cards {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
main .cards .left {
  width: 30%;
}
main .cards .left img {
  width: 100%;
}
main .cards .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 30%;
}
main .cards .right .aubutton {
  width: 230px;
  height: 50px;
  background-color: rgb(235, 182, 92);
  color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.2s;
}
main .cards .right .aubutton:hover {
  opacity: 0.75;
}
main .cards .right img {
  width: 65%;
}

.text {
  text-align: center;
}

.pics {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.pics .images {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.pics .images img {
  width: 30%;
}
.pics .images .imgpad {
  padding-top: 40px;
}
.pics .images .botpad {
  padding-bottom: 0;
}
.pics .button {
  display: inline-block;
}
.pics .button .view {
  width: 230px;
  height: 50px;
  background-color: rgb(235, 182, 92);
  color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.2s;
  margin-top: 30px;
  margin-bottom: 60px;
}

.bg2 {
  background-image: url(/anir/img/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  color: #fff;
  display: flex;
  align-items: center;
}
.bg2 .left {
  margin: 0 50px;
  width: 50%;
}
.bg2 .left ul li {
  padding: 30px 0;
}
.bg2 .right {
  width: 50%;
}
.bg2 .right ul {
  width: 65%;
}
.bg2 .right ul li {
  padding: 30px 0;
}

.map {
  width: 100%;
}
.map .container {
  display: flex;
}/*# sourceMappingURL=anir.css.map */